:root {
    /* colors */
    --main-white: white;
    --main-black: black;
    --main-dark-blue: #113857;
    --secondary-dark-blue: #1B4060;
    --pink: rgb(221, 2, 255);
    --cyan: #42eaff;
    /* spaces */
    --medium-margin: 15px;
    --big-margin: 30px;
}


/* @media (prefers-color-scheme: dark) {
    body:not(.light) {
        background-color: var(--main-dark-blue);
        color: var(--main-white);
    }
} */


/* body.dark {
    background-color: var(--main-dark-blue);
    color: var(--main-white);
} */

body {
    background-color: var(--main-dark-blue);
    color: var(--main-white);
    height: 100%;
}


/* FONTS */

.fonts-pageTitle {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.fonts-headerBold {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.header {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 500;
}