<script>
  import 'animate.css';
  import 'bulma/css/bulma.css';
  import Faucet from './components/Faucet.svelte';
  import Footer from './components/Footer.svelte';
  // import Components from './components/Components.svelte';
  // import Features from './components/Features.svelte';
  // import Toggle from './components/Toggle.svelte';
  // import Seperator from './components/Seperator.svelte';
  // import TitleContent from './components/TitleContent.svelte';
  // import FeaturedCreators from './components/FeaturedCreators.svelte';
  // import RedBlueButton from './components/RedBlueButton.svelte';
  // import Navbar from './components/Navbar.svelte';
</script>

<svelte:head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <!-- Fonts -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto+Mono"
  />
</svelte:head>

<!-- <Navbar /> -->
<Faucet />

<!-- <Toggle />
<RedBlueButton/>
<TitleContent
  title="WHAT IS PULSECHAIN?"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
veniam, quis nostrud"
/>

<Seperator marginTop={60} />
<Features />
<Seperator marginTop={60} />
<FeaturedCreators /> -->

<!-- <Components /> -->
<style>
</style>
