<div class="colorfulLine" />

<style>
  .colorfulLine {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100px;
    height: 2px;
    background-image: linear-gradient(to right, red, purple, blue);
  }
</style>
