<script>
  //   import Button, { Label } from '@smui/button';
</script>

<div>components</div>
<button class="button is-primary"> Button </button>
<button class="button is-link"> Button </button>
<button class="button is-info"> Button </button>
<button class="button is-success"> Button </button>
<button class="button is-warning"> Button </button>
<button class="button is-danger"> Button </button>
<button class="button is-primary is-outlined"> Button </button>
<button class="button is-loading"> Button </button>
<button class="button" disabled> Button </button>
<button class="button is-primary is-small" disabled> Button </button>
<button class="button is-info is-loading"> Button </button>
<button class="button is-danger is-outlined is-large"> Button </button>
<div class="columns">
  <div class="column">1</div>
  <div class="column">2</div>
  <div class="column">3</div>
  <div class="column">4</div>
  <div class="column">5</div>
</div>

<style>
</style>
