<script>
  import { onMount } from 'svelte';
  import { getAddress } from '@ethersproject/address';
  import { formatEther } from '@ethersproject/units';
  import { setDefaults as setToast, toast } from 'bulma-toast';
  import Feature from './Feature.svelte';
  import H1 from './fonts/H1.svelte';
  import Link from './Link.svelte';
  import Footer from './Footer.svelte';
  import Navbar from './Navbar.svelte';

  $: address = null;
  $: network = null;
  $: disabled = false;
  $: faucetInfo = {
    account: '0x22F79d3E5b8e83c03Bb496E48970F255280b886c',
    network: 'Testnet',
    payout: 1,
    rpcAvailable: true,
  };

  // const SCAN_PULSE_URL = `https://scan.pulsechain.com/address/${faucetInfo?.account}/transactions`;
  // const TELEGRAM_URL = `https://t.me/PulsechainCom`;
  // const LOGO_PATH = 'howtopulse-logo-vector.png';
  // const HOW_TO_PULSE = 'https://www.howtopulse.com/';

  const testnetConfig = {
    chainId: '0x3ad',
    chainName: 'PulseChain Testnet',
    nativeCurrency: {
      name: 'Pulse',
      symbol: 'PLS',
      decimals: 18,
    },
    rpcUrls: ['https://rpc.v2b.testnet.pulsechain.com/'],
    blockExplorerUrls: ['https://scan.v2b.testnet.pulsechain.com/'],
    iconUrls: [],
  };

  const updateChainId = async () => {
    if (!ethereum) {
      return;
    }
    const chainId = await ethereum.request({
      method: 'eth_chainId',
    });
    network = chainId;
    return chainId;
  };

  const requestAccounts = async () => {
    if (!ethereum) {
      return;
    }
    try {
      const accounts = await ethereum.request({
        method: 'eth_requestAccounts',
      });
      address = accounts[0];
      const chainId = await updateChainId();
      if (chainId !== testnetConfig.chainId) {
        await addTestnetToMetamask();
      }
    } catch (error) {
      console.log('error in requestAccounts', error);
    }
  };

  if (window.ethereum) {
    network = ethereum.chainId;
    // ethereum.once('connect', requestAccounts);
    // ethereum.on('connect', updateChainId);
    ethereum.on('chainChanged', updateChainId);
    ethereum.on('accountsChanged', (accounts) => {
      address = accounts[0];
    });
  }

  const connectToMetaMask = async () => {
    await requestAccounts();

    const res = await fetch('/api/info');
    try {
      faucetInfo = await res.json();
      faucetInfo.network = capitalize(faucetInfo.network);
      faucetInfo.payout = parseInt(formatEther(faucetInfo.payout));
    } catch (err) {
      console.log(err);
    }
    if (
      !faucetInfo.account ||
      faucetInfo.account === '0x0000000000000000000000000000000000000000'
    ) {
      network = testnetConfig.chainId;
      disabled = true;
      return;
    }
  };

  // onMount(async () => {
  //   const res = await fetch('/api/info');
  //   try {
  //     faucetInfo = await res.json();
  //   } catch (err) {}
  //   if (
  //     !faucetInfo.account ||
  //     faucetInfo.account === '0x0000000000000000000000000000000000000000'
  //   ) {
  //     network = testnetConfig.chainId;
  //     disabled = true;
  //     return;
  //   }
  //   updateChainId();
  //   requestAccounts();
  //   faucetInfo.network = capitalize(faucetInfo.network);
  //   faucetInfo.payout = parseInt(formatEther(faucetInfo.payout));
  // });

  setToast({
    duration: 10000,
    position: 'bottom-center',
    dismissible: true,
    pauseOnHover: true,
    closeOnClick: false,
    animate: { in: 'fadeIn', out: 'fadeOut' },
  });

  async function addTestnetToMetamask() {
    try {
      await ethereum.request({
        method: 'wallet_switchEthereumChain',
        params: [{ chainId: testnetConfig.chainId }],
      });
    } catch (switchError) {
      if (switchError.code === 4902) {
        try {
          await ethereum.request({
            method: 'wallet_addEthereumChain',
            params: [testnetConfig],
          });
        } catch (addError) {
          console.log('unable to add a new chain', addError);
          return;
        }
      }
      console.log('unable to complete request', switchError);
    }
  }

  async function handleRequest() {
    try {
      address = getAddress(address);
    } catch (error) {
      toast({ message: error.reason, type: 'is-warning' });
      return;
    }

    let formData = new FormData();
    formData.append('address', address);
    const res = await fetch('/api/claim', {
      method: 'POST',
      body: formData,
    });
    const { ok } = res;
    let type = ok ? 'is-success' : 'is-warning';
    let message = await res.text();
    const _message = `Transaction id: ${message}`;
    toast({ message: ok ? _message : message, type });
  }

  function capitalize(str) {
    const lower = str.toLowerCase();
    return str.charAt(0).toUpperCase() + lower.slice(1);
  }

  const metaMaskView = () => {};
</script>

<svelte:head>
  <title>tPLS {faucetInfo.network} Faucet</title>
</svelte:head>

<div class="hero-container">
  <section class="hero-faucet hero is-fullheight">
    <div class="hero-head">
      <Navbar />
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h2 class="title">
            Claim your free tPLS now!
          </h2>
          <!-- {#if network}
            <h1 class="title">
              network {network}
            </h1>
          {/if} -->
          <div class="subtitle__container">
            <h2 class="subtitle">
              <span class="subtitle__dliver-from">Delivered from:</span>  
              <span class="subtitle__address">{faucetInfo.account}</span>
            </h2>
        </div>

          {#if disabled}
            <div class="box">
              <p>Unable to contact network. Please try again later.</p>
            </div>
          {:else if network === testnetConfig.chainId}
            
              <div class="subtitle__container">
                <h2 class="subtitle">
                  <span class="subtitle__dliver-from">Delivered to:</span>  
                  <span class="subtitle__address">{address.toLowerCase()}</span>
                </h2>
              </div>

                
              <div class="request-subtitle__container">  
                  <button on:click={handleRequest} class="request-pls__btn">
                    Request 1 tPLS
                  </button>
              </div>
            
            <h2 class="stake-now">
              <p class="stake-now__p">After you've requested your free tPLS you are ready to stake or delegate it.</p>
              <p class="stake-now__p">Head over to the HowToPulse staking interface by clicking the link below.</p>
              <a class="stake-now__link" href="https://stake.howtopulse.com" target="_blank">Click here to stake your tPLS!</a> 
            </h2>
          {:else}

            {#if window.ethereum}
              <button
                on:click={connectToMetaMask}
                class="connect-meta-mask-button"
              >
                Connect Wallet & PulseChain Testnet
              </button>

              <p>
                By clicking this button MetaMask will open up and ask you to approve this website and connect to the PulseChain testnet.
                <br>
                <br>
                You can request 1 tPLS every 24h. 
              </p>
            {:else}
              <p class="no-metamask-text">
                Our website detected that you do not have MetaMask installed on
                your browser. <a href="https://metamask.io/download/" target="_blank">Install MetaMask!</a>
              </p>
            {/if}
          {/if}
        </div>
      </div>
    </div>

    <Footer />
  </section>
</div>

<style>
  .hero-container {
    display: flex;
    width: 100%;
    background-image: url(https://www.howtopulse.com/wp-content/uploads/2022/01/bg-1.jpg);
  }
  .hero-faucet {
    flex: 1;
  }

  .box {
    border-radius: 4px;
  }

  .connect-meta-mask-button , .request-pls__btn {
    font-size: 18px;
    padding: 10px 30px;
    margin: 1rem 0;
    color: #fff;
    background-color: #2E91FF;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    transition: all .2s;
  }
  
  .request-pls__container {
    display: flex;
    font-size: 18px;
    padding: 10px 30px;
    margin: 1rem 0;
    align-items: center;
    flex-direction: column;
  }
  .no-metamask-text {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--main-black);
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 /12%);
    border-radius: 10px;
    font-size: 1.5rem;
  }
  .connect-meta-mask-button:hover {
    background-color: #D61F8B;
    
  }

  .button {
    background-color: rgba(236, 125, 27, 0.8);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
  }
  h1 {
    color: var(--main-white);
  }
  h2 {
    color: var(--main-white);
  }
  a {
    color: var(--main-white);
  }



  /* dliver from style */
  .subtitle__container {
    margin-top: 1rem;
    padding: 1rem;
    background: #000000ab;
    border-radius: 10px;
  }
  .subtitle {
    padding: 10px;
    border: 1px solid #ffffff4f;
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .subtitle__dliver-from {
    color: #438cfd;
  }
  .subtitle__address {
    padding-left: 10px;
  }

  .request-pls__btn {
    width: 253px;
    background: #D61F8B;
    /* margin-left: 15px; */
  }

  .request-pls__btn:hover {
  background: #438cfd;
  color: white;
  }

  .request-pls__input {
    width: 100%;
    word-break: break-all;
    text-align: center;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 18px;
  }

.stake-now {
  background: #000000ab;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}  
.stake-now__link {
  padding: 10px 30px;
    background: #2E91FF;
    margin-top: 20px;
    border-radius: 5px;
    transition: all .2s;
}

.stake-now__link:hover {
  background: #D61F8B;
  color: white;
}
</style>
