<script>
  import ColorfulLine from './ColorfulLine.svelte';
  import H1 from './fonts/H1.svelte';
  import SmallRectangle from './SmallRectangle.svelte';
</script>

<div class="container">
  <div class="titleContainer">
    <H1 text={'FEATURED CREATORS'} />
    <ColorfulLine />
  </div>

  <div class="cubesContainer">
    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />
    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />
    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />
    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />

    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />
    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />
    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />
    <SmallRectangle title={'title'} subtitle={'Lorem ipsum'} />
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cubesContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
  @media (min-width: 340px) {
    .cubesContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 600px) {
    .cubesContainer {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
