<script>
  export let image = '';
  export let title = '';
  export let content = '';
</script>

<div class="column container">
  <!-- <img src={image} alt="image" />/ -->
  <p class="is-size-6 has-text-centered has-text-weight-bold">{title}</p>
  <p class="is-size-7 has-text-centered">
    {content}
  </p>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
</style>
