<script>
  import ColorfulLine from './ColorfulLine.svelte';

  import Feature from './Feature.svelte';
  import H1 from './fonts/H1.svelte';
</script>

<div class="container">
  <H1 text={'FEATURES'} />
  <ColorfulLine />
  <div class="columns group">
    <Feature
      title={'WHAT IS PULSECHAIN?'}
      content={'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud'}
    />
    <Feature
      title={'WHAT IS PULSECHAIN?'}
      content={'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud'}
    />
    <Feature
      title={'WHAT HAPPENS WHEN MAINNET WILL BE RELEASED?'}
      content={'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud'}
    />
  </div>
  <div class="columns group">
    <Feature
      title={'MOST POPULAR PROJECTS ON PULSECHAIN?'}
      content={'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud'}
    />
    <Feature
      title={'HOW TO GET INVOLVED?'}
      content={'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud'}
    />
    <Feature
      title={'HOW SECURE ARE YOU?'}
      content={'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud'}
    />
  </div>
</div>

<style>
  .container {
    /* margin: var(--big-margin) 12em; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .group {
    align-items: flex-start;
  }
</style>
