<script>
    
  import MenusFooter  from './MenuFooter.svelte';

</script>

<style>
.footer {
  background: #171c27;
  padding: 4rem;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.footer__title {
  color: #d61f8b;
  font-family: "Lato", Sans-serif;
  font-size: 45px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
}
.footer__content {
  font-family: "Lato", Sans-serif;
  padding: 1rem 0;
  margin: 0 auto;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color:white;
}

.footer__btn {
  font-family: "Lato", Sans-serif;
    font-size: 17px;
    font-weight: 300;
    background-color: #2e91ff;
    border-radius: 17px 17px 17px 17px;
    padding: 10px;
    transition: all .2s;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 10px 0;
}
.footer__btn:hover {
  background: #d61f8b;
}

.footer__link {
  color: #d61f8b;
  font-size: 18px;
}

.footer__dvider {
  width: 100%;
  height: 1px;
  background: white;
  margin: 1rem 0;
}

.footer__main {
  background: #171c27;
  width: 100%;
  position: relative;
  margin-top: 8rem;
}

.footer__p {
  font-family: "Lato", Sans-serif;
  padding: 1rem 0;
  margin: 0 auto;
  font-size: 18px;
  padding: 1rem 0;
}

.footer__logo {
  position: absolute;
  top: 3%;
  right: 15%;
}

@media only screen and (max-width: 1000px) {
  .footer__logo {
  display: none;
}
}

@media only screen and (max-width: 767px) {
  .footer {
  padding:  20px;
  text-align: center;
}
}

</style>
<div class="footer__main">
  <img class="footer__logo" src="https://www.howtopulse.com/wp-content/uploads/2021/12/howtopulse-colorful-circle-logo-removebg-preview-150x150.png" alt="htp-logo">
<footer class="footer">
  <h1 class="footer__title">Don’t See Your Answer?</h1>
  <p class="footer__p">Contact us with your question and we will get back to you with an answer.</p>
  <a class="footer__btn" href="https://us5.list-manage.com/contact-form?u=6a82c3738bc2a61f0136d84d0&form_id=c9e47c7d52341b2e01ac27609987f15f" target="_blank">Ask Us A Question</a>
  <h2>ALL ERC20s DONATIONS ARE WELCOME:</h2>
  <a  class="footer__link" href="https://etherscan.io/address/0x1e50d4e43927c0395b83afdb989c00ad03f379c6" target="_blank">howtopulse.eth</a>

  <div>
      <MenusFooter />
  </div>

  <div class="footer__dvider"></div>
  <span class="footer__content">
      Copyright © 2022 HowToPulse.com. All Rights Reserved. howtopulse.com is not affiliated with PulseChain, PulseX and HEX in any form.​
  </span>
</footer>
</div>