<script>
  export let text = '';
  export let href = '';
</script>

<div class="lcontainer">
  <a class="verify-address" {href}> {text} </a>
</div>

<style>
  .lcontainer {
    padding: 5px;
    background-color: var(--secondary-dark-blue);
    border-radius: 10px;
  }
  a {
    color: var(--cyan) !important;
  }
</style>
