<script>
    import { onMount } from 'svelte';

    const apiURL = "https://www.howtopulse.com/wp-json/menus/v1/menus/header-mobile";
    async function addMenuFooter() {
        const res = await fetch(apiURL);
        const menu = await res.json();
        
        return menu.items
    }

  </script>

<style>
  
.navbar {
  overflow: hidden; 
  z-index: 9999 !important;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 99999 !important;
  background: #171c27;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 9999 !important;
  
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white; 
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 9999 !important;
  /* transition: all .2s; */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  z-index: 9999 !important;
}

.dropbtn:hover {
  border-bottom: 2px solid #D61F8B;
  outline-offset: -2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  z-index: 9999 !important;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 9999 !important;
  transition: all .2s;
}



.dropdown-content a:hover {
  z-index: 9999 !important;
  background: #D61F8B;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 9999 !important;
}

.nav-container {
  display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-container {
  height: 80px;
  background: #171c27;
}
.htp-logo {
  height: 50px;
}

.footerMenu {
    font-size: 18px !important;
    font-family: 'lato';
    /* padding-top: 4rem !important; */
}

@media only screen and (max-width: 850px) {
  .nav-container {
    display: none;
  }
}

</style>

<div class="nav-container">
  <!-- <a href="https://www.howtopulse.com/"><img class="htp-logo" src="https://www.howtopulse.com/wp-content/uploads/2021/11/htp_logo_no_background-300x114.png" alt="HowtoPulseLogo"></a> -->
<nav class="navbar">
  {#await addMenuFooter() then menus}
    {#each menus as item}
        <a class="footerMenu dropbtn" href={item.url}>{item.title}</a>
    {/each}
  {/await}
</nav>
</div>
