<script>
    
  import { onMount } from 'svelte';


  const apiURL = "https://www.howtopulse.com/wp-json/menus/v1/menus/main-menu";
  async function addMenu() {
      const res = await fetch(apiURL);
      const menu = await res.json();

      let finalMenu = []

      menu.items.forEach((item)=> {
      
          let items = []
          items.push({ value: 0, title: item.title })

          item.child_items.forEach((innerMenu,index)=> {
              items.push({ value: index+1, title: innerMenu.title , url:innerMenu.url})
          })
          finalMenu.push(items)
      })
      
      return finalMenu;
  }

</script>

<style>

.navbar {
overflow: hidden; 
z-index: 9999 !important;
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
z-index: 99999 !important;
background: #171c27;
}

.dropdown {
float: left;
overflow: hidden;


}
.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white; 
background-color: inherit;
font-family: inherit;
margin: 0;
background: #171c27;
}

.navbar a:hover, .dropdown:hover .dropbtn {

}

.dropbtn:hover {
border-bottom: 1px solid #D61F8B;
outline-offset: -2px;

}

.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
transition: all .2s;
}



.dropdown-content a:hover {
cursor: pointer;
background: #d61f8b;
}

.dropdown:hover .dropdown-content {
display: block;
position: fixed;
background: #171c27;
}

.nav-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-container {
height: 80px;
background: #171c27;
}
.htp-logo {
height: 50px;
}

.nav-background {
  background: #171c27;
}

@media only screen and (max-width: 850px) {
  .navbar {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    display: none;    
  }


  .nav-container {
    padding: 0 1rem;
  }

  .mobile-nav__container {
    display: flex !important;
  }

  .dropdown-content {
    background: black;
  }
}

.mobile-nav__container {
    display: none;
  }

/* navigation mobile */
.mobile-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  opacity: 0;
  width: 0;
}
.mobile-nav__check-box {
  display: none;
  transition: all .2s;
}
.mobile-nav__button {
  background:white;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  z-index: 9000;
  box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer;
}
.mobile-nav__background {
  height: 45px;
  width: 45px;
  background: #171c27;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2000;
  transition: all .8s;
}

.mobile-nav__check-box:checked ~ .mobile-nav__background {
  transform: scale(80);
  overflow: hidden;
}

.mobile-nav__check-box:checked ~ .mobile-nav {
  opacity: 1;
  width: 100%;
  overflow: hidden;
}

/* icon  */
.mobile-nav__navigation-icon {
  position: relative;
  margin-top: 25px;
}

.mobile-nav__navigation-icon, .mobile-nav__navigation-icon::before, .mobile-nav__navigation-icon::after {
  width: 20px;
  height: 2px;
  background: #333;
  display: inline-block;
}

.mobile-nav__navigation-icon::before, .mobile-nav__navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.mobile-nav__navigation-icon::before {
  top: -7px;
}

.mobile-nav__navigation-icon::after {
  top: 7px;
}

.mobile-nav__button:hover .mobile-nav__navigation-icon::before  {
  top: -9px;
}

.mobile-nav__button:hover .mobile-nav__navigation-icon::after  {
  top: 9px;
}

.mobile-nav__check-box:checked + .mobile-nav__button .mobile-nav__navigation-icon {
  background: transparent;
}

.mobile-nav__check-box:checked + .mobile-nav__button .mobile-nav__navigation-icon::before {
  transform: rotate(135deg);
  top:0;
}

.mobile-nav__check-box:checked + .mobile-nav__button .mobile-nav__navigation-icon::after {
  top:0;
  transform: rotate(-135deg);
}

</style>

<div class="nav-background">
  <div class="nav-container">


    <a href="https://www.howtopulse.com/"><img class="htp-logo" src="https://www.howtopulse.com/wp-content/uploads/2021/11/htp_logo_no_background-300x114.png" alt="HowtoPulseLogo"></a>

    <div class="mobile-nav__container">
      <input type="checkbox" class="mobile-nav__check-box" id="navi-toggle">
      <label for="navi-toggle" class="mobile-nav__button">
        <span class="mobile-nav__navigation-icon">&nbsp;</span>
      </label>

      <div class="mobile-nav__background">&nbsp;</div>
      <nav class="mobile-nav">
        {#await addMenu() then menus}
        {#each menus as item}
              <div class="dropdown">
                <button class="dropbtn">
                  <a href={item[0].url}>{item[0].title}<i style="padding-left:10px" class="fa fa-caret-down"></i></a>
                  
                </button>
                <div class="dropdown-content">
                  {#each item as i}
                      <a href={i.url}>{i.title}</a>
                  {/each}
                </div>
              </div> 
        {/each}
      {/await}
      </nav>
    </div>

    <nav id="show-menu-mobile" class="navbar">
  
      {#await addMenu() then menus}
        {#each menus as item}
              <div class="dropdown">
                <button class="dropbtn">
                  <a href={item[0].url}>{item[0].title}<i style="padding-left:10px" class="fa fa-caret-down"></i></a>
                  
                </button>
                <div class="dropdown-content">
                  {#each item as i}
                      <a href={i.url}>{i.title}</a>
                  {/each}
                </div>
              </div> 
        {/each}
      {/await}
    </nav>
  </div>
</div>

