<button class="colorfulButton"> colooful btton </button>

<style>
  .colorfulButton {
    width: 100px;
    /* height: 2px; */
    background-image: linear-gradient(to right, red, purple, blue);
    color: white;
  }
</style>
