<script>
  import Avatar from './Avatar.svelte';
  import { globalTheme } from '../stores.js';

  export let title = '';
  export let subtitle = '';
  let _globalTheme = '';
  globalTheme.subscribe((value) => {
    _globalTheme = value;
  });
</script>

<div
  class={`container ${
    _globalTheme === 'dark' ? 'cube-on-dark-mode' : 'cube-on-light-mode'
  }`}
>
  <div class="imageContainer">
    <Avatar />
  </div>
  <div class="textsContainer">
    <p class="is-size-7 has-text-weight-bold">{title}</p>
    <p class="is-size-7">{subtitle}</p>
  </div>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
  }
  .cube-on-dark-mode {
    background-color: var(--secondary-dark-blue);
  }
  .cube-on-light-mode {
    background-color: var(--main-white);
    border: 1px solid black;
  }
  .imageContainer {
  }
  .textsContainer {
    margin-inline-start: 10px;
  }
</style>
