<script>
  import ColorfulLine from './ColorfulLine.svelte';
  import H1 from './fonts/H1.svelte';

  export let title = '';
  export let content = '';
</script>

<div class="container">
  <H1 text={'WHAT IS PULSECHAIN?'} />
  <ColorfulLine />
  <p class="is-size-6 has-text-centered">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud
  </p>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
