<script>
  import { onMount } from 'svelte';
  import { createEventDispatcher } from 'svelte';
  import { globalTheme } from '../stores.js';
  const THEMES = {
    DARK: 'dark',
    LIGHT: 'light',
  };

  const dispatch = createEventDispatcher();
  const STORAGE_KEY = 'theme';
  const DARK_PREFERENCE = '(prefers-color-scheme: dark)';
  let currentTheme = THEMES.DARK;

  const prefersDarkThemes = () => window.matchMedia(DARK_PREFERENCE).matches;

  const applyTheme = () => {
    const preferredTheme = prefersDarkThemes() ? THEMES.DARK : THEMES.LIGHT;
    currentTheme = localStorage.getItem(STORAGE_KEY) ?? preferredTheme;
    globalTheme.set(currentTheme);
    if (currentTheme === THEMES.DARK) {
      document.body.classList.remove(THEMES.LIGHT);
      document.body.classList.add(THEMES.DARK);
    } else {
      document.body.classList.remove(THEMES.DARK);
      document.body.classList.add(THEMES.LIGHT);
    }
  };
  const toggleTheme = () => {
    const stored = localStorage.getItem(STORAGE_KEY);
    if (stored) {
      // clear storage
      localStorage.removeItem(STORAGE_KEY);
    } else {
      // store opposite of preference
      localStorage.setItem(
        STORAGE_KEY,
        prefersDarkThemes() ? THEMES.LIGHT : THEMES.DARK
      );
    }

    applyTheme();
  };
  onMount(() => {
    applyTheme();
    window.matchMedia(DARK_PREFERENCE).addEventListener('change', applyTheme);
  });
</script>

<button
  class={`button ${
    currentTheme === THEMES.DARK
      ? 'button-container-light'
      : 'button-container-dark'
  }`}
  on:click={toggleTheme}
>
  {currentTheme === THEMES.DARK
    ? 'Change to light mode'
    : 'Change to dark mode'}
</button>

<style>
  .button-container-light {
    background-color: white;
    color: black !important;
  }
  .button-container-dark {
    background-color: black;
    color: white !important;
  }
</style>
